/* style.css */

.main{
    width:100%;
    max-width:1200px;
    height:1050px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
}

header{
    width:100%;
    height:100px;
    background-color:#ECFAFF;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{width:20%;
height:100px;
display: flex;
flex-direction: row;
align-items: center;}

.logo_image{
    width:45%;
    height: 60px;
    display: flex;
    justify-content:center;
}

.logo_image>img{width:70%;}

.logo_text{
    width:50%;
    height: 50px;
    color:darkblue;
}

nav{width:60%;
height:100px;
display: flex;
align-items: center;
justify-content:center;}


ul{width:80%;
display: inline-flex;
justify-content: space-around;}

li{list-style-type: none;}

li>a{text-decoration: none;

font-size:18px;
color:black;}


.block_buttons{width:20%;
height:100px;
display: flex;
align-items: center;
justify-content: space-around;}

.block_buttons a{
    text-decoration: none;
    color:white;
}
.block_buttons a:visited{
    text-decoration: none;
    color:white;
}

#btn_sign{
    padding:10px;
    margin-right: 20px;
    border:none;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: bold;
}

#btn_sign:hover{
    cursor: pointer;
}

#btn_login{
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: bold;
}

#btn_login:hover{
    cursor: pointer;
}


.info1_block{width:100%;
height:550px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;}

.block1{width:40%;
height: 450px;
display: flex;
flex-direction: column;}

.block1_info1{width:35%;
margin-top: 10px;
padding-top:10px;
padding-bottom: 10px;
background-color:lightblue;
border-radius: 10px;
color:blue;
font-size:18px;
text-align: center;}


.block1_info2{width:60%;
margin-top: 10px;
padding-top:10px;
padding-bottom: 10px;
border-radius: 10px;
font-weight: bold;
font-size:50px;}

.block1_info3{width:80%;
margin-top: 10px;
padding-top:10px;
padding-bottom: 10px;
border-radius: 10px;
font-weight: bold;
color:gray;
font-size:18px;}



.block2{width:50%;
height: 450px;
background-color:brown;}


.info2_block{width:100%;
height:250px;
background-color: white;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.block3{width:45%;
height:250px;
display: flex;
flex-direction: column;}


.block4{width:45%;
height:250px;
display: flex;
flex-direction: column;}


.block3_caption{
    width:100%;
    height:30px;
    font-size:22px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;

}

.block3_elements{
    width:100%;
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.block_info{width:20%;
height:140px;
background-color: #ECFAFF;
border-radius: 10px;
box-shadow:1px 1px 3px blue;
display: flex;
flex-direction: column;}


.block_image{width:100%;
height:100px;
display: flex;
justify-content: center;
align-items: center;}

.block_image>img{
    width:60%;
}

.block_text{width:100%;
font-size:12px;
color:darkblue;
font-weight: bold;
text-align: center;}

.block4_caption{
    width:100%;
    height:30px;
    font-size:22px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;

}

.block4_elements{
    width:100%;
    height:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info3_block{width:100%;
height:100px;
margin-top: 50px;
background-color: #ECFAFF;
display:flex;
flex-direction: row;}


.info3_block1{
    width: 60%;
    height:100px;
    display: flex;
    align-items: center;
}

.info3_image{width:20%;
display: flex;
justify-content: end;}

.info3_image>img{width:50%}

.info3_text{width:80%;
font-size: 18px;
font-weight: bold;
display: flex;
justify-content:start;}


.info3_block2{
    width: 40%;
    height:100px;
    display: flex;
    align-items: center;
}

.start{width:40%;
height:27px;
padding: 10px;
background-color: darkblue;
border-radius: 10px;}

.start>a{
    color:white;
}


/* admin.html*/
.main1{
    width:100%;
    max-width:1200px;
    height:1000px;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.caption{width:50%;
text-align: center;
color:darkred;
font-size:30px;
font-weight: bold;
font-style: italic;}


#btn_log_out{
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color: darkblue;
    color:white;
    font-weight: bold;
}

#btn_log_out:hover{
    cursor: pointer;
}

.content_1{
    width:90%;
    margin-left: 5%;
    margin-top: 40px;
    height: 800px;
    background-color: #ECFAFF;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}


.content_1_tabs{
    width:27%;
    height:700px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;

}



.content_1_tabs input[type="radio"]{
    padding: 12px;
    appearance: none;
}

.content_1_tabs label{
    align-items: left;
    justify-content:space-around;
    color:darkblue;
    border:none;
    margin-left: 30px;
    margin-top: 40px;
    cursor: pointer;
    font-size:22px;
    font-weight:bold;
}

.content_1_tabs  input:checked + label {
    text-decoration: underline;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}


.content_1_blocks{
    width:62%;
    height:700px;
    background-color: white;
    border-radius: 10px;
    display: block;
    position: relative;
    top:50px;
    left:30px;
}

  #admin_dashboard, #admin_students, #admin_teachers, #admin_schedule, #admin_courses{
    width:50%;
    display:none;
    position: absolute;
    top:200px;
    left:450px;
    height:700px;
    border-radius:20px ;
    background-color:white;
}

#tab_1:checked ~ #admin_dashboard,
#tab_2:checked ~ #admin_students,
#tab_3:checked ~ #admin_teachers,
#tab_4:checked ~ #admin_schedule,
#tab_5:checked ~ #admin_courses
{ display: flex;
justify-content: center;}


#form_students{
    width:90%;
    height:540px;
    border:2px solid darkblue;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

h3{text-align: center;}

#form_students h3{
    color:darkred;
}

#form_students .label_1{
    color:black;
    font-size:16px;
    margin-bottom: 5px;
}


#form_students input[type="text"]{
    width:50%;
    margin-left: 30px;
    padding: 5px;
}

#form_students input[type="tel"]{
    width:50%;
    margin-left: 30px;
    padding: 5px;
}


#add_student{width:20%;
padding:10px;
background-color:darkred;
color:white;
border:none;
border-radius: 5px;
margin-left: 30px;
margin-top: 30px;}

#add_student:hover{
    cursor: pointer;
}




#form_teachers{
    width:90%;
    height:650px;
    border:2px solid darkblue;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#form_teachers h3{
    color:darkred;
}

#form_teachers .label_1{
    color:black;
    font-size:16px;
    margin-bottom: 5px;
}


#form_teachers input[type="text"]{
    width:50%;
    margin-left: 30px;
    padding: 5px;
}

#form_teachers input[type="tel"]{
    width:50%;
    margin-left: 30px;
    padding: 5px;
}

#form_teachers input[type="email"]{
    width:50%;
    margin-left: 30px;
    padding: 5px;
}


#add_teacher{width:20%;
padding:10px;
background-color:darkred;
color:white;
border:none;
border-radius: 5px;
margin-left: 30px;
margin-top: 30px;}

#add_teacher:hover{
    cursor: pointer;
}



#form_courses{
    width:90%;
    height:550px;
    border:2px solid darkblue;
    border-radius: 10px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


#form_courses h3{
    color:darkred;
}

#form_courses .label_1{
    color:black;
    font-size:16px;
    margin-bottom: 5px;
}


#form_courses input[type="text"]{
    width:50%;
    margin-left: 30px;
    padding: 5px;
}



#add_course{width:20%;
padding:10px;
background-color:darkred;
color:white;
border:none;
border-radius: 5px;
margin-left: 30px;
margin-top: 30px;}

#add_course:hover{
    cursor: pointer;
}


/* sign_up.html */

.main2{
    width:100%;
    max-width:1200px;
    height:800px;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    background-color:yellow;
}


.container1{
    width:42%;
    height:800px;
    background-color:#7C95B6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container1_caption{
    width:100%;
    height:140px;
    background-color: aquamarine;
    font-size:32px;
    color:#233048;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2{
    width:58%;
    height:800px;
    background-color:#ECFAFF;
}

.list{
    width:70%;
    height:200px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}


.list>li{
    font-size:20px;
    color:#233048;
    margin-top:2px;
    padding-bottom:20px;
    padding-top:10px;
    margin-bottom:10px;
    color:white;
}

.list>li:before {
    content: url('../img/list_image.png');
    margin-right:10px;
    margin-top:25px;
}



